/*scrollbar*/

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #33352F;
  border-radius: 10px;
}

 body {
  border: none;
  overflow-x: hidden;
  background-color: rgb(12, 12, 12);
  height: 100%;
  min-height: 100%;
  padding-bottom: 100px;
   margin: 0;
   font-family: helvetica;
 }
 #select2{
  width: 150px;
  height: 50px;
  border-radius: 20px;
 }
/*sidebar*/
#menu{
	background-color: rgb(29, 29, 29);
	height: 5%;
  width: 100%;
	padding-top: 3%;
	padding-left: 1%;
	font-family: sans-serif;
  position: fixed;
  z-index: 4;
}
#menu font{
  position: relative;
  bottom: 135%;
  right: 0.5%;
	font-family: helvetica;
  padding-left: 1%;
  font-weight: 500;
    font-size: large;
  font-weight: 700;
}
#home{
  width: 10%;
  height: 1005px;
}
#div1{
  position: relative;
  right: 1%;
  bottom: 70%;
  width: 100%;
  height: 5px;
  background-color: #00c5cf;
}
#div2{
  width: 100%;
  height: 5px;
  background-color: rgb(29, 29, 29);
}
#div3{
  width: 100%;
  height: 5px;
  background-color: rgb(29, 29, 29);
}
#graficosconse{
  background-color:rgb(12, 12, 12);
  width: 100%;
  height: 1005px;
}
#consequencias{
   padding-top: 100px;
   background-color: rgb(12, 12, 12);
  width: 100%;
  height: 650px;
  text-align: center;
}

#ahome{
  padding: 1%;
  border-radius: 12px;
  border-width: 2px;
  border-style: solid;
  text-decoration: none;
  color: #52BE80;
}
#agraficosconse{
  padding: 1%;
  border-radius: 12px;
  border-width: 2px;
  border-style: solid;
  text-decoration: none;
  color: #E74C3C;
}
#aconsequencias{
  padding: 1%;
  border-radius: 12px;
  border-color: #E74C3C;
  border-width: 2px;
  border-style: solid;
  text-decoration: none;
  color: #E74C3C;
}
.graficosconse{
  height: 200px;
  padding-top: 155px;
  padding-left: 100px;
  padding-right: 100px;
}
.fontes{
  color: #e68a00 ;
  padding-left: 100px;
  font-family: sans-serif;
  text-align: center;
  

}
.pgraficosconse-fontes{
  padding-top: 50px;
}
.botao{
  margin-left: 200px;
  margin-top: 20px;
  background-color: #e68a00;
  font-family: helvetica;
  text-align: center;
  border-radius: 30px;

}
.consequencias{
  height: 200px;
  padding-top: 200px;
  padding-left: 125px;
  padding-right: 100px;
}
.consequencias-fontes{
  color: #e68a00 ;
  margin-top: 20px;
  padding-left: 25px;
  font-family: sans-serif;
  text-align: center;     
}


#valortxt2{
  position: relative;
  right: 3%;
  bottom: 62%;
  float: right;
  font-family: helvetica;
  color: #7c7c7c;
  font-weight: 550;
}
#value2{
  position: relative;
  bottom: 75%;
  float: right;
  right: 2%;
  font-family: helvetica;
  color: #229954 ;
  font-weight: 550;
  font-size: 180%;
}
nav {
  top: 50%;
  right: 0;
  left: 0;
  width: 319px;
  display: table;
  margin: 0 auto;
  transform: translateY(-50%);
}

nav a {
  position: relative;
  width: 33.333%;
  display: table-cell;
  text-align: center;
  color: white;
  text-decoration: none;
  font-family:helvetica;
  font-weight: bold;
  padding: 10px 20px;
  transition: 0.2s ease color;
}

nav a:before,
nav a:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.2s ease transform;
}

nav a:before {
  top: 0;
  left: 10px;
  width: 6px;
  height: 6px;
}

nav a:after {
  top: 5px;
  left: 18px;
  width: 4px;
  height: 4px;
}

nav a:nth-child(1):before {
  background-color: yellow;
}

nav a:nth-child(1):after {
  background-color: red;
}

nav a:nth-child(2):before {
  background-color: green;
}

nav a:nth-child(2):after {
  background-color: darkgreen;
}

nav a:nth-child(3):before {
  background-color: purple;
}

nav a:nth-child(3):after {
  background-color: palevioletred;
}

nav a:hover {
  color: #fff;
}

nav a:hover:before,
nav a:hover:after {
  transform: scale(1);
}

.backgroundimg{
  padding-left: 80px;
  max-width: 10%;
  max-height: 100%;
}
.backimg{
  position: relative;
  left: 335%;
  top: 18%;
  width: 370%;
  height: 55%;
}
#perdeu{

  text-align: center;
  position: relative;
  top: 15%;
  left: 450%;
color: red;
}
.graphics{
  width: 60%;
  height: 50%;
position: relative;
top: 25%;
left: 20%;
}
/*valores btn*/
p,
label {
    font: 1rem 'Fira Sans', sans-serif;
}

input {
    margin: .4rem;
}
}       
* {
  user-select: none;
}

*:focus {
  outline: none;
}


.brd {
  border: 1px solid #e2eded;
  border-color: #eaf1f1 #e4eded #dbe7e7 #e4eded;
}

#info {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  color: #2d3667;
  font-size: 16px;
  text-align: center;
  padding: 14px;
  background-color: #f3f9f9;
}

#app-cover {
  background-color: none;
  padding-left: 200px;
  padding-top: 20px;
}

#select-button {
  position: relative;
  height: 16px;
  padding: 12px 14px;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

#options-view-button {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

#selected-value {
  font-size: 16px;
  line-height: 1;
  margin-right: 26px;
}

.option i {
  width: 16px;
  height: 16px;
}

.option,
.label {
  color: #2d3667;
  font-size: 16px;
}

#chevrons {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 12px;
  padding: 9px 14px;
}

#chevrons i {
  display: block;
  height: 50%;
  color: #d1dede;
  font-size: 12px;
  text-align: right;
}
.select-box{
  position: relative;
  top: 300%;
  right: 40%;
}
.options {
  position: absolute;
  width: 250px;
}

#options {
  position: relative;
  top: 30%;
  right: 0;
  left: 0;
  width: 298px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 4px;
}

#options-view-button:checked ~ #options {
  border: 1px solid #e2eded;
  border-color: #eaf1f1 #e4eded #dbe7e7 #e4eded;

}

.option {
  position: relative;
  line-height: 1;
  transition: 0.3s ease all;
}

.option i {
  position: absolute;
  left: 14px;
  padding: 0;
  display: none;
}

#options-view-button:checked ~ #options .option i {
  display: block;
  padding: 12px 0;
}

.label {
  display: none;
  padding: 0;
  margin-left: 27px;
}

#options-view-button:checked ~ #options .label {
  display: block;
  padding: 12px 14px;
}

.s-c {
  position: absolute;
  left: 0;
  width: 100%;
  height: 50%;
}

.s-c.top {
  top: 0;
}

.s-c.bottom {
  bottom: 0;
}

input[type="radio"] {
  position: absolute;
  right: 0;
  left: 0;
  width: 100%;
  height: 50%;
  margin: 0;
  opacity: 0;
  cursor: pointer;
}

.s-c:hover ~ i {
  color: #fff;
  opacity: 0;
}

.s-c:hover {
  height: 100%;
}

.s-c.bottom:hover + i {
  bottom: -25px;
  animation: moveup 0.3s ease 0.1s forwards;
}

.s-c.top:hover ~ i {
  top: -25px;
  animation: movedown 0.3s ease 0.1s forwards;
}

@keyframes moveup {
  0% {
    bottom: -25px;
    opacity: 0;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes movedown {
  0% {
    top: -25px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

.label {
  transition: 0.3s ease all;
}


.option input[type="radio"]:checked ~ i {
  top: 0;
  bottom: auto;
  opacity: 1;
  animation: unset;
}

.option input[type="radio"]:checked ~ i,
.option input[type="radio"]:checked ~ .label {
  color: #fff;
}

.option input[type="radio"]:checked ~ .label:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#options-view-button:not(:checked)
  ~ #options
  .option
  input[type="radio"]:checked
  ~ .opt-val {
  top: -30px;
}

.option:nth-child(1) input[type="radio"]:checked ~ .label:before {
  background-color: #000;
  border-radius: 4px 4px 0 0;
}

.option:nth-child(1) input[type="radio"]:checked ~ .opt-val {
  top: -31px;
}

.option:nth-child(2) input[type="radio"]:checked ~ .label:before {
  background-color: #ea4c89;
}

.option:nth-child(2) input[type="radio"]:checked ~ .opt-val {
  top: -71px;
}

.option:nth-child(3) input[type="radio"]:checked ~ .label:before {
  background-color: #0057ff;
}

.option:nth-child(3) input[type="radio"]:checked ~ .opt-val {
  top: -111px;
}

.option:nth-child(4) input[type="radio"]:checked ~ .label:before {
  background-color: #32c766;
}

.option:nth-child(4) input[type="radio"]:checked ~ .opt-val {
  top: -151px;
}

.option:nth-child(5) input[type="radio"]:checked ~ .label:before {
  background-color: #f48024;
}

.option:nth-child(5) input[type="radio"]:checked ~ .opt-val {
  top: -191px;
}

.option:nth-child(6) input[type="radio"]:checked ~ .label:before {
  background-color: #006400;
  border-radius: 0 0 4px 4px;
}

.option:nth-child(6) input[type="radio"]:checked ~ .opt-val {
  top: -231px;
}

.option .fa-5 {
  color: #000;
}

.option .fa-10 {
  color: #ea4c89;
}

.option .fa-behance {
  color: #0057ff;
}

.option .fa-50 {
  color: #32c766;
}

.option .fa-100 {
  color: #f48024;
}


#option-bg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 40px;
  transition: 0.3s ease all;
  display: none;
}

#options-view-button:checked ~ #options #option-bg {
  display: block;
}

.option:hover .label {
  color: #fff;
}

.option:nth-child(1):hover ~ #option-bg {
  top: 0;
  background-color: #000;
  border-radius: 4px 4px 0 0;
}

.option:nth-child(2):hover ~ #option-bg {
  top: 40px;
  background-color: #ea4c89;
}

.option:nth-child(3):hover ~ #option-bg {
  top: 80px;
  background-color: #0057ff;
}

.option:nth-child(4):hover ~ #option-bg {
  top: 120px;
  background-color: #32c766;
}

.option:nth-child(5):hover ~ #option-bg {
  top: 160px;
  background-color: #f48024;
}

.option:nth-child(6):hover ~ #option-bg {
  top: 200px;
  background-color: #006400;
  border-radius: 0 0 4px 4px;
}

#btnrodar{
  font-family: helvetica;
  border-radius: 30px;
  background-color: #7FB819;
  position: relative;
  margin-left: 30px;
  margin-top: 10px;

}
.aposta{
  position: relative;
  bottom: 50%;
  left: 220%;
}
.sidebar {
height: 200px;
width: 150px;
position: fixed;
top: 0;
left: 0;
padding-top: 40px;
background-color: lightblue;
}

.sidebar div {
padding: 8px;
font-size: 24px;
display: block;
}

.body-text {
margin-left: 150px;
font-size: 18px;
}
}
#resulttxt{
  color: white;
  font-size: 10px;
  font-family: none;
}

.backgroundimg{
  padding-left: 80px;
   max-width: 100%;
   max-height: 100%;
}
.btnrodar{
  border-radius: 30px;
}
#imgscamp{
  padding-bottom: 10px;
  margin-top: 50px;
  margin-left: 435px;
  width: 500px;
  height: 300px;
}
.logoimg{
  position: relative;
  left: 1%;
  bottom: 70%;
  width: 7%;
  height: 160%;
}
p,
label {
    font: 1rem 'Fira Sans', sans-serif;
}

input {
    margin: .4rem;
}
}       
* {
  user-select: none;
}

*:focus {
  outline: none;
}

}

.brd {
  border: 1px solid #e2eded;
  border-color: #eaf1f1 #e4eded #dbe7e7 #e4eded;
}

#info {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  color: #2d3667;
  font-size: 16px;
  text-align: center;
  padding: 14px;
  background-color: #f3f9f9;
}

#app-cover {
  top: 200px;
  left: 20px;
  position: absolute;
  width: 100px;
  height: 42px;
  margin: 100px auto 0 auto;

}

#select-button {
  position: relative;
  height: 16px;
  padding: 12px 14px;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

#options-view-button {
  position: absolute;
  top: 10;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  opacity: 0;
  cursor: pointer;
}

#selected-value {
  font-size: 16px;
  line-height: 1;
  margin-right:  16px;
}

.option i {
  width: 16px;
  height: 16px;
}

.option,
.label {
  color: #2d3667;
  font-size: 16px;
}

#chevrons {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 12px;
  padding: 9px 14px;
}

#chevrons i {
  display: block;
  height: 50%;
  color: #d1dede;
  font-size: 12px;
  text-align: right;
}

#options-view-button:checked + #select-button #chevrons i {
  color: #2d3667;

}

.options {
  position: relative;
  padding-left: 10;
  width: 250px;
}

#options {
  position: absolute;
  top: 42px;
  right: 0;
  left: 0;
  width: 298px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 4px;
}

#options-view-button:checked ~ #options {
  border: 1px solid #e2eded;
  border-color: #eaf1f1 #e4eded #dbe7e7 #e4eded;

}

.option {
  position: relative;
  line-height: 1;
  transition: 0.3s ease all;
  z-index: 2;
}

.option i {
  position: absolute;
  left: 14px;
  padding: 0;
  display: none;
}

#options-view-button:checked ~ #options .option i {
  display: block;
  padding: 12px 0;
}

.label {
  display: none;
  padding: 0;
  margin-left: 27px;
}

#options-view-button:checked ~ #options .label {
  display: block;
  padding: 12px 14px;
}

.s-c {
  position: absolute;
  left: 0;
  width: 100%;
  height: 50%;
}

.s-c.top {
  top: 0;
}

.s-c.bottom {
  bottom: 0;
}

input[type="radio"] {
  position: absolute;
  right: 0;
  left: 0;
  width: 100%;
  height: 50%;
  margin: 0;
  opacity: 0;
  cursor: pointer;
}

.s-c:hover ~ i {
  color: #fff;
  opacity: 0;
}

.s-c:hover {
  height: 100%;
  z-index: 1;
}

.s-c.bottom:hover + i {
  bottom: -25px;
  animation: moveup 0.3s ease 0.1s forwards;
}

.s-c.top:hover ~ i {
  top: -25px;
  animation: movedown 0.3s ease 0.1s forwards;
}

@keyframes moveup {
  0% {
    bottom: -25px;
    opacity: 0;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes movedown {
  0% {
    top: -25px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

.label {
  transition: 0.3s ease all;
}

.opt-val {
  position: absolute;
  left: 14px;
  width: 217px;
  height: 21px;
  opacity: 0;
  background-color: #fff;
  transform: scale(0);
}

.option input[type="radio"]:checked ~ .opt-val {
  opacity: 1;
  transform: scale(1);
}

.option input[type="radio"]:checked ~ i {
  top: 0;
  bottom: auto;
  opacity: 1;
  animation: unset;
}

.option input[type="radio"]:checked ~ i,
.option input[type="radio"]:checked ~ .label {
  color: #fff;
}

.option input[type="radio"]:checked ~ .label:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

#options-view-button:not(:checked)
  ~ #options
  .option
  input[type="radio"]:checked
  ~ .opt-val {
  top: -30px;
}

.option:nth-child(1) input[type="radio"]:checked ~ .label:before {
  background-color: #000;
  border-radius: 4px 4px 0 0;
}

.option:nth-child(1) input[type="radio"]:checked ~ .opt-val {
  top: -31px;
}

.option:nth-child(2) input[type="radio"]:checked ~ .label:before {
  background-color: #ea4c89;
}

.option:nth-child(2) input[type="radio"]:checked ~ .opt-val {
  top: -71px;
}

.option:nth-child(3) input[type="radio"]:checked ~ .label:before {
  background-color: #0057ff;
}

.option:nth-child(3) input[type="radio"]:checked ~ .opt-val {
  top: -111px;
}

.option:nth-child(4) input[type="radio"]:checked ~ .label:before {
  background-color: #32c766;
}

.option:nth-child(4) input[type="radio"]:checked ~ .opt-val {
  top: -151px;
}

.option:nth-child(5) input[type="radio"]:checked ~ .label:before {
  background-color: #f48024;
}

.option:nth-child(5) input[type="radio"]:checked ~ .opt-val {
  top: -191px;
}

.option:nth-child(6) input[type="radio"]:checked ~ .label:before {
  background-color: #006400;
  border-radius: 0 0 4px 4px;
}

.option:nth-child(6) input[type="radio"]:checked ~ .opt-val {
  top: -231px;
}

.option .fa-5 {
  color: #000;
}

.option .fa-10 {
  color: #ea4c89;
}

.option .fa-behance {
  color: #0057ff;
}

.option .fa-50 {
  color: #32c766;
}

.option .fa-100 {
  color: #f48024;
}


#option-bg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 40px;
  transition: 0.3s ease all;
  z-index: 1;
  display: none;
}

#options-view-button:checked ~ #options #option-bg {
  display: block;
}

.option:hover .label {
  color: #fff;
}

.option:nth-child(1):hover ~ #option-bg {
  top: 0;
  background-color: #000;
  border-radius: 4px 4px 0 0;
}

.option:nth-child(2):hover ~ #option-bg {
  top: 40px;
  background-color: #ea4c89;
}

.option:nth-child(3):hover ~ #option-bg {
  top: 80px;
  background-color: #0057ff;
}

.option:nth-child(4):hover ~ #option-bg {
  top: 120px;
  background-color: #32c766;
}

.option:nth-child(5):hover ~ #option-bg {
  top: 160px;
  background-color: #f48024;
}

.option:nth-child(6):hover ~ #option-bg {
  top: 200px;
  background-color: #006400;
  border-radius: 0 0 4px 4px;
}


#carteira{
  position: relative;
float: right;
float: top;
right: 5%;
bottom: 75%;
font-family: helvetica;
  color: #E91E1E ;
  font-weight: 550;
  font-size: 180%;
}
#consequetxt{
  position: relative;
  color: #B03A2E;
  font-family: helvetica;
  text-decoration: none;
  font-size: 150%;
  font-weight: 600;
}
#conseque1{
  position: relative;
  color: #d41010 ;
  top: 2%;
}
#conseque2{
  position: relative;
color: #d41010 ;
top: 2%;
}
#conseque3{
  position: relative;
color: #d41010 ;
top: 2%;
}
#conseque4{
  position: relative;
 color: #d41010 ;
 top: 2%;
}
#conseque5{
  position: relative;
color: #d41010 ;
top: 2%;
}
#conseque6{
  position: relative;
color: #d41010 ;
top: 2%;
}
#conseque7{
  position: relative;
color: #d41010 ;
top: 2%;
}
#conseque8{
  position: relative;
color: #d41010 ;
top: 2%;
}
#conseque9{
  position: relative;
color: #d41010 ;
top: 2%;
}
.aposta{
  margin-left: 700px;
  margin-top: 275px;
  color: white;
}
#dividatxt{
  text-decoration: none;
  position: relative;
  right: 6%;
  bottom: 62%;
  float: right;
  color: #E91E1E;
  font-weight: 550;
}
.btnrodar{
  font-family: helvetica;
  color: black ;
  background-color: #8BFF00;
  border-radius: 30px;
}

@media screen and (min-width: 1500px){
  .logoimg{
    position: relative;
    left: 13.5%;
    bottom: 100%;
    width: 7%;
    height: 190%;
  }
  .backimg{
    position: relative;
    left: 345%;
    top: 20%;
    width: 330%;
    height: 65%;
  }
  .aposta{
    position: relative;
    bottom: 56%;
    left: 420%;
  }
  #menu font{
    position: relative;
    bottom: 180%;
    right: 0.5%;
    font-family: helvetica;
    padding-left: 1%;
    font-weight: 500;
      font-size: large;
    font-weight: 700;
  }
  #valortxt2{
    position: relative;
    right: 3%;
    bottom: 70%;
    float: right;
    font-family: helvetica;
    color: #494343;
    font-weight: 550;
  }
  #value2{
    position: relative;
    bottom: 83%;
    float: right;
    right: 2%;
    font-family: helvetica;
    color: #229954 ;
    font-weight: 550;
    font-size: 180%;
  }
  #dividatxt{
    text-decoration: none;
    position: relative;
    right: 6%;
    bottom: 70%;
    float: right;
    color: #E91E1E;
    font-weight: 550;
  }
  #carteira{
    position: relative;
  float: right;
  float: top;
  right: 5%;
  bottom: 83%;
  font-family: helvetica;
    color: #E91E1E ;
    font-weight: 550;
    font-size: 180%;
  }
 .select-box{
  position: relative;
  top: 350%;
  left: 90%;
}
.graphics{
  position: relative;
  top: 1%;
  width: 50%;
  height: 60%;
  left: 25%;
  margin-top: 12%;
}
#perdeu{
  width: 60%;
  text-align: center;
  position: relative;
  top: 16%;
  left: 465%;
color: red;
}
#div1{
  position: relative;
  bottom: 100%;
  right: 1%;
  width: 100%;
  height: 6px;
  background-color: #00c5cf;
}
}